fieldset
{
	display: block;
	width: 300px;
}

fieldset div
{
	margin: .4em 0;
}

fieldset div label
{
	width: 150px;
	float: left;
	display: block;
	margin: .5em 0 0 0;
}

fieldset div input,fieldset div select
{
	padding:.2em;
	display: block;
	margin: 1em 0;
}