#VOLVER{position:absolute;right:0px;top:-2px;height:5%;width:5%}
#Layout{position:absolute;border-right:solid;height:100%;width:300px;top:-3px}
#Cabezera{position:absolute;border-bottom:solid;left:19.4%;top:-21px;height:5%;width:80.5%}
#table{position:absolute;left:24%;top:10%;height:70%;width:30%;border-bottom:solid;border-left:solid;border-right:solid;border-top:solid}
#boton{position:absolute;left:59%;top:10%;height:5%;width:5%}