#VOLVER{position:absolute;
rightpx;
top:2px;
height:5%;
width:5%}
#Layout{
	position:absolute;
	border-right:solid;
	height:100%;
	width:300px;
	top:3px}
#Cabezera{
	position:absolute;
	border-bottom:solid;
	right: 30%;
	left: 30%;
	top:-21px;
	height:5%;
	width:80.5%}
.btn {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #0f1112);
  background-image: -moz-linear-gradient(top, #000000, #0f1112);
  background-image: -ms-linear-gradient(top, #000000, #0f1112);
  background-image: -o-linear-gradient(top, #000000, #0f1112);
  background-image: linear-gradient(to bottom, #000000, #0f1112);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 17px 12px 20px;
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
}
#table{position:absolute;left:24%;top:10%;height:70%;width:30%;border-bottom:solid;border-left:solid;border-right:solid;border-top:solid}