    *{
        margin: 0;
        padding: 0;
    }
    #textbox
    {
      background-image:url("img/cajita.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 350px;
      height: 450px;
    }
    input
    {
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 4px;
      background-color: #E0ECF8;
      width: 200px;
      height: 35px;
      font-size: 15pt;
    }
    
    input[type=checkbox]
    {
      -webkit-transform: scale(0.56); /* Safari and Chrome */
    }
    .button1
    {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      border-radius: 20px;
      background-color: #FF8000;
      width: 100px;
      height: 31px;
    }
    .button2
    {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      border-radius: 20px;
      background: linear-gradient(50deg,#0404B4, #5882FA);
      width: 100px;
      height: 31px;
    }
    body 
    {
      background-attachment: fixed;
      background-color: #4b4c9d;
      /*background-image: url("img/fondo.png");*/
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    table
    {
      border-collapse: collapse;
      border-radius: 10px;
      width: 70%;
    }
    th, td
    {
      text-align: left;
      padding: 10px;
      border-radius: 10px;
    }
    tr:nth-child(even){
      background-color: none
    }


